<head itemscope itemtype="http://schema.org/Blog">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/default.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/mobile.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/suburst.prettify.css" type="text/css">
    <title>{{ page.title }}</title>
    <meta name="description" content="{% if page.tagline %}{{ page.tagline }}{% endif %}">
    
    <link rel="canonical" href="{{ site.production_url }}{{ page.url | replace:'index.html','' }}">
    
    <meta property="og:title"        content="{{ page.title }}">
    <meta property="og:url"          content="{{ site.production_url }}{{ page.url | replace:'index.html','' }}">
    <meta property="og:type"         content="blog" />
    <meta property="og:description"  content="{% if page.tagline %}{{ page.tagline }}{% endif %}" />
    <meta property="og:site_name"    content="{{ site.production_url }}" />
    <meta property="og:language"     content="en" />
    <meta property="og:image"        content="" />
</head>