<head itemscope itemtype="http://schema.org/Blog">

        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/main.css">

        <!--[if lt IE 9]>
            <script src="/assets/js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
        <![endif]-->
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | Alex Wyett</title>
    <meta name="description" content="{% if page.tagline %}{{ page.tagline }}{% endif %}">
    
    <link rel="canonical" href="{{ site.production_url }}{{ page.url | replace:'index.html','' }}">
    
    <meta property="og:title"        content="{{ page.title }}">
    <meta property="og:url"          content="{{ site.production_url }}{{ page.url | replace:'index.html','' }}">
    <meta property="og:type"         content="blog" />
    <meta property="og:description"  content="{% if page.tagline %}{{ page.tagline }}{% endif %}" />
    <meta property="og:site_name"    content="{{ site.production_url }}" />
    <meta property="og:language"     content="en" />
    <meta property="og:image"        content="" />
</head>