<!-- 
    Menu toggle - semantically meh but it works with no js (yay)
    It's important that this toggle is adjacent to the aside element
-->
<input type="checkbox" id="menutoggle">
<!-- /Menu toggle -->
<aside class="aw_sidebar">
    <h1 class="aw_sidebar_title">
        <a href="/">{{ page.title }}{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</a>
    </h1>
    <nav class="nav" role="menu">
        <ul class="vertical menu">
          {% assign sorted_pages = site.pages | sort:"order" %}
          {% for page in sorted_pages %}
            {% if page.navigation %}
              <li><a href="{{ BASE_PATH }}{{ page.url }}">
                {% if page.navtitle %}
                  {{ page.navtitle }}
                {% else %}
                  {{ page.title }}
                {% endif %}
              </a></li>
            {% endif %}
          {% endfor %}
        </ul>
    </nav>
</aside>