<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  {% include head.html %}
  <body class="aw">
    {% include sidebar.html %} 
    <main class="aw_main">
      <div class="search">
        <input type="search" placeholder="Search">
        <div id="results"></div>
      </div>
      {{ content }}
    </main>
    
    <script type="text/javascript">
    {% assign allpages = site.posts | concat: site.pages %}
    var pages = [
      {% for item in allpages %}
        {% include search.json %}
        {% if forloop.last == false %},{% endif %}
      {% endfor %}
    ];
    </script>
    <script src="/assets/build/js/app.js"></script>
  </body>
</html>
